<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Messages</title>
  </head>
  <body>
    <h1>Inbox</h1>
    <div class="container">
      <% messages.forEach((message) => { %>
      <div class="message-body">
        <div class="user-container">
          <div class="avatar">
            <%= message.user .split(" ") .map(word => word[0]) .slice(0, 2)
            .join("") .toUpperCase() %>
          </div>
          <span class="username"><%= message.user %></span>
        </div>
        <p class="message-text"><%= message.text %></p>
      </div>

      <% }) %> <% if (process.env.NODE_ENV !== 'production') { %> <% } %>
      <script src="http://localhost:35729/livereload.js"></script>
    </div>
  </body>
</html>
